<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <xacro:arg name="arm_id" default="panda" />
  <xacro:arg name="hand" default="true" />

  <!-- box shaped table as base for the Panda -->
  <link name="base">
    <visual>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.7 1.2 1" />
      </geometry>
      <material name="White">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.5" rpy="0 0 0  "/>
      <geometry>
        <box size="2.7 1.2 1" />
      </geometry>
    </collision>
  </link>

  <!-- single arm with gripper -->
  <!-- <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro"/>
  <xacro:franka_arm arm_id="$(arg arm_id)" connected_to="base"  xyz="-0.7 0 1.00" gazebo="true"
                    joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}"/>
  <xacro:if value="$(arg hand)">
      <xacro:include filename="$(find franka_description)/robots/common/franka_hand.xacro"/>
      <xacro:franka_hand
          arm_id="$(arg arm_id)"
          rpy="0 0 ${-pi/4}"
          connected_to="$(arg arm_id)_link8"
          safety_distance="0.03"
          gazebo="true"
       />
    </xacro:if> -->
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:panda_arm arm_id="panda" connected_to="base"  xyz="-0.7 0 1.00"
  sd0="0.01" sd1="0.01" sd2="0.01" sd3="0.01" sd4="0.01" sd5="0.01" sd6="0.01" sd7="0.01" sd8="0.001"
  a1="0.000474560429981023" d1="0.000483166682165302" theta1="-0.00304883355188383" alpha1="0.00148667086907321" 
  a2="-3.69828865924539e-05" d2="-0.000288069909956647" theta2="-0.00812428761844092" alpha2="0.00421567136144437" 
  a3="-0.000154357131719552" d3="-0.0010921364777817" theta3="0.00031894496234845" alpha3="-0.0030474925191138" 
  a4="-0.000117600404870226" d4="0.000712982958085577" theta4="-0.00571261767823764" alpha4="0.00176867969486185" 
  a5="-0.00058993701921134" d5="-0.000326649645213642" theta5="0.00939394386245098" alpha5="0.00123723772258799" 
  a6="-0.000433705606644922" d6="-0.000293762477507038" theta6="-0.0156742348127345" alpha6="-0.00529320945025931" 
  a7="-0.000589815315429364" d7="6.2389274666678e-05" theta7="0.0291501803388187" alpha7="0.00113202442328629" />  
  <xacro:include filename="dyros_assembly_gripper2.xacro"/>
  <xacro:dyros_assembly_gripper2 ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" />
</robot>
